<h2>Welcome to Weather Predictor 27612</h2>

<p>
    You can test via swagger at: <a href="http://127.0.0.1:8080/swagger">http://127.0.0.1:8080/swagger</a>

    Alternatively, using your tool of choice for the following endpoints

    <ul>
        <li>No date supplied: <a href="http://127.0.0.1:8080/prediction"> http://127.0.0.1:8080/prediction</a></li>
        <li>With date supplied: <a href="http://127.0.0.1:8080/prediction/{dateSource}">http://127.0.0.1:8080/prediction/{dateSource}</a></li>
    </ul>
</p>
